.listing-page {
    display: flex;
  }
  
  .listing-content {
    margin-left: 200px; /* Adjust based on side menu width */
    padding: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    color: black;
  }
  
  th {
    background-color: #f2f2f2;
    color: black;
  }
  